*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 


header{
  background-color: #800000;
  color: black;
  height: 150px;
}
nav {
float: right;
border: 1px solid black;
  background-color: #800000;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 400px;
  line-height:2;
}
li {
display: inline -webkit-box;
}
div{
  display: inline-block;
scroll-behavior: smooth
}
a {
  text-decoration: none;
  color: #800000
}
main {
  text-align: center;
  color: #800000
  margin-top: 30px
  line-height: 50px

}

#section1 {
  font-family: Brush Script MT , cursive;
  background-color: rgb(224, 216, 216);
  width: 400px;
  border: 15px #800000;
  padding: 50px;
  margin: 50px;
}

#section2 {
  font-family: Brush Script MT , cursive;
  color:black;
  height: 150px;

}
nav {
float: right
}

footer {
  text-align: center;
}