*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 


header{
  background-color: #800000;
  color: black;
  height: 150px;
}
nav {
float: right;
}
li {
display: inline -webkit-box;
}
div{
  display: inline-block;
scroll-behavior: smooth
}
a {
  text-decoration: none;
  color: #800000
}
main {
  text-align: center;
  color: #800000
  margin-top: 30px
  line-height: 50px
}

#section1 {
  font-family: Brush Script MT , cursive;
}

#section2 {
  font-family: Brush Script MT , cursive;
  color:black;
  height: 150px;

}
nav {
float: right
}

footer {
  text-align: center;
}